*{
	
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;	
	list-style-type: none;
}
body{
		background: url(../img/diamond_upholstery.png) repeat center center; 
	
}
.container{
	
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
} 

h1{
	color: #535353;
	margin-bottom: 20px;
}
figure{
	
	border-radius: 50%;
	width: 175px;
	height: 175px;
	margin: 0 auto;
	border: 1px solid gray;
	overflow: hidden;
}
img{
	height: 175px;
	max-width: 100%;
 object-fit: cover;
	display: block;
		box-shadow: 7px 12px 20px rgba(250, 250, 250, 1);
}
h3{
	font-weight: 100;
	font-size: 20px;
	margin-top: 20px;
		color: #535353;

}
.options{
	text-align: center;
	display: inline-block;
		background: url(../img/subtle_white_feathers.png) repeat center center;
	padding: 30px 40px 10px 40px;
	margin-top: 20px;
}
.history,.pass{
	outline: none;
	display: block;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 15px;
	border: 1px solid #f2f2f2 ;
	background-color: #1f80af ;
	color: white !important;
	
}
.randevu{
	outline: none;
	display: block;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 15px;
	border: 1px solid #f2f2f2 ;
	background-color: #03b34d ;
	color: white !important;
	
}
.exit{
	outline: none;
	display: block;
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 15px;
	border: 1px solid #f2f2f2 ;
	background-color: #cc0101 ;
	color: white !important;
	
}
.history:hover,.pass:hover{
	outline: none;
	background-color: #0d708e ;
	cursor: pointer;

	
}
.randevu:hover{
	outline: none;
	background-color: #00aa00 ;
	cursor: pointer;

	
}
.exit:hover{
	outline: none;
	background-color: #aa0000 ;
	cursor: pointer;

	
}
button:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 1),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}