*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;

	list-style-type: none;
	
}
body{
	background: url(../img/diamond_upholstery.png) repeat center center; 
	background-attachment: fixed;
}
.container{
	width: 1000px;
	margin: 100px auto;
	
}
.head{
	font-size: 24px;
	margin: 0 0 25px 100px;
	font-weight: 100;
	
	
}

.row{
	border: 1px solid rgba(211, 211, 211, 1);
	background: url(../img/subtle_white_feathers.png) repeat center center; 
	margin-left: 100px;
  	box-shadow: 7px 12px 20px rgba(211, 211, 211, 1);
}
.col-3,.col-4{

}
.col-3,.col-4,.col-6{
	padding: 20px 10px;
}
.accordion {
  background-color: #1f80af;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 20%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
	margin-left: 100px;
		border-radius: 10px;
	margin-top: 5px;
		box-shadow: 7px 12px 20px rgba(211, 211, 211, 1);
}

.active, .accordion:hover {
  background-color: #0c608d;
	
}
 .active {
  background-color: #0c608d;
	border-radius: 10px 10px 0px 0px;
	 box-shadow: 0px 0px 0px rgba(211, 211, 211, 1);
}

.accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;

	
}

.active:after {
  content: "\2212";
}

.panel {
	margin-left: 100px;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
	
	margin-bottom: 100px;
	float: left;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
		border-radius: 0px 10px 10px 10px;
background: url(../img/subtle_white_feathers.png) repeat center center; 
}

.panel p {
	margin: 20px 0;
}
.randevu{
	display: block;
	 overflow: hidden;
	float: right;
	font-size: 18px;
	margin: 10px 0px;
	
 
}
.randevu:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 1),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
	
}
.randevu:hover{
   
	cursor: pointer;
}
.sehir-list{
	
		width: 180px;
}
.ilce-list{
	
		width: 180px;
}
.hastane-list{
	width: 400px;

}
.poli-list{
	width: 275px;

}
.doktor-list{
	width: 300px;
    margin-left: 15px;
}
.tarih-list{
	width: 200px;

	float: right;
    margin-right: 21px;
}
.saatler{
	border: 1px solid black;
	margin-bottom: 10px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}
.dakika{
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;

}
span{
	background-color: #0c608d;
	color: white;
  line-height: 33px;
	border-radius: 10px;
	padding: 5px;
	padding-left: 15px;
  padding-right: 15px;
	font-size: 14px;
}
.tarih{
	margin-left: 50px;
	
}
label{
	margin-bottom: 0px;
		font-size: 14px;
margin-left: 2px;
	
}

