{% load static %}
<!DOCTYPE html>
<head>
	<meta charset="UTF-8" lang='tr'>
	<title>Doktor Seçimi</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
	<link rel="stylesheet" href="{% static 'css/sign-in.css' %}">
</head>
<body>
{% if user.is_authenticated %}
	<div class="container">
		<h1 style="text-align: center;color: orange;font-weight: bold">{{patient.patient_name}} {{patient.patient_surname}}</h1>
		<h1 style="text-align: center;">Lütfen Doktor Seçimi Yapınız</h1><br>
		<h4 style="text-align: left;color: #35041c;font-weight: bold">{{city.city_name}} / {{county.county_name}} / {{hospital.hospital_name}} / {{polyclinic.polyclinic_name}}</h1>
		<form style="text-align: center" action="" method="POST">{% csrf_token %}
			<div style="text-align: center;">
				<br>
		    	{{form.dr_name}}
				<br>
			</div>
		    <input type="submit" value="İleri" class = "btn btn-dark" style="width: 100px;">
		</form>
	</div>
{% else %}
	<div style=" margin-top: 15%">
	    <h1 style="text-align: center;">Randevu Almak İçin Giriş Yapmalısınız</h1>
	    <input style="margin-right: 44%" onclick="window.location.href='{% url 'randevu:homepage' %}'" type="button" class="btn btn-danger randevu" value="Giriş Yapmak İçin Tıklayın">
	</div>
{% endif %}
</body>
</html>