{% load static %}
<!DOCTYPE html>
<head>
	<meta charset="UTF-8" lang='tr'>
	<title>Randevu Al</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
	<link rel="stylesheet" href="{% static 'css/sign-in.css' %}">
</head>
<body>
{% if user.is_authenticated %}
	<div class="container">
		<h1 style="text-align: center;color: orange;font-weight: bold">{{patient.patient_name}} {{patient.patient_surname}}</h1>
		<h1 style="text-align: center;">Lütfen Randevu İçin Tarih ve Saat Belirleyiniz</h1><br>
		<h4 style="text-align: left;color: #35041c;font-weight: bold">{{city.city_name}} / {{county.county_name}} / {{hospital.hospital_name}} / {{polyclinic.polyclinic_name}} / {{dr.dr_name}} {{dr.dr_surname}}</h1>
		<form style="text-align: center" action="" method="POST">{% csrf_token %}
			<div style="text-align: center;">
				<br>
				<div style="font-weight: bold">
					Randevu Tarihi:
		    		<input type="date" id="myDate" name="date_of_appointment" style="text-align: center;border: solid;width: 25%;font-weight: bold">
				</div>
				<br>
		    	<div style="font-weight: bold">
		    		Randevu &nbspSaati:
		    		<input type="time" name="begin_time_of_appointment" min="08:00" max="17:00" value="08:00" style="text-align: center;border: solid;width: 25%;font-weight: bold">
		    	</div>
				<br>
			</div>
		    <input type="submit" value="Randevu Oluştur" class = "btn btn-dark" style="width: 200px;">
		</form>
	</div>
{% else %}
  <div style=" margin-top: 15%">
          <h1 style="text-align: center;">Randevu Almak İçin Giriş Yapmalısınız</h1>
          <input style="margin-right: 44%" onclick="window.location.href='{% url 'randevu:homepage' %}'" type="button" class="btn btn-danger randevu" value="Giriş Yapmak İçin Tıklayın">
  </div>
{% endif %}
<script>
	let today = new Date();
	let dd = String(today.getDate()).padStart(2,'0');
	let mm = String(today.getMonth() + 1).padStart(2, '0');
	let yyyy = today.getFullYear();
	today = yyyy + "-" + mm + "-" + dd;
	document.getElementById("myDate").value = today;
</script>
</body>
</html> 