{% load static %}
<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>Kayıt Ol</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
		<script src="{% static 'js/jquery.inputmask.bundle.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<h1>RANDEVU SİSTEMİ KAYIT FORMU</h1>
			<div class="sign-up">
				<form action="." method="POST"> {% csrf_token %}
					<input class="TC textbox" maxlength="11" name='patient_tc_no' placeholder="Tc Kimlik Numarası" type="text" required>
					<input class="textbox" type="text" name='patient_name' placeholder="İsim" required>
					<input class="textbox" type="text" name='patient_surname' placeholder="Soyisim" required>
					<div class="check">
						<span>Cinsiyet:</span>
						<div>
						    {% for gender in form.gender_of_patient %}
						    <label for="{{ gender.id_for_label }}">
						        {{ gender.tag }}
						        <span class="radio">{{ gender.choice_label }}</span>
						    </label>
							{% endfor %}
						</div>
					</div>
					<input class="textbox" onfocus="this.value=''"type="text" name='patient_place_of_birth' placeholder="Doğum Yeri" required>
					<input class="textbox" name="patient_date_of_birth" onfocus="this.value=''" type="date" placeholder="Doğum Tarihi" required>
					<input class="textbox" name="father_name_of_patient" onfocus="this.value=''" type="text" placeholder="Baba Adı" required>
					<input class="textbox" name="mother_name_of_patient" onfocus="this.value=''" type="text" placeholder="Anne Adı" required>
					<input class="cep textbox" name="telephone_of_patient" placeholder="Telefon" type="text" required>
					<input class="textbox" name="e_mail_of_patient" onfocus="this.value=''" type="text" placeholder="name@example.com">
					{{ form.blood_group_of_patient }}
					<input id="password" name="password_of_patient" class="textbox" onfocus="this.value=''" type="password" placeholder="Parola" required>
					{{form.errors}}
					<input class="kaydol-button"  type="submit" value="Kaydol" >
				</form>
			</div>
		</div>
	</body>
</html>